In [2]:
import requests
import pprint
import json
import pandas as pd
from pandas.io.json import json_normalize

list=[]
url = 'http://ws.bus.go.kr/api/rest/busRouteInfo/getBusRouteList'
params ={'serviceKey' : 'aNck9jp/HY4SD0XYIww09B2N27wkcpKKSmxuMz9a11Y33XQ1fdi0IkNXZIr+CaU4x7ovJ8jxhH08xQB28h9Ajw==', 'resultType':'json'}

bus_num=[4211,'성동03-1','성동08','성동02',241,'성동10','성동07','성동14','성동03-2','성동01','성동05','성동06',145
         ,'110B',148,421,141,2015,2222,'성동13','성동12','성동02','성동09','성동12','성동03-2','성동14',1227,130,303,'N30',370
         ,9403,721,3216,3220,2221,2416,463,2014,2015,'N62',302,6211,202,147,1017,2012,2013,421,241,'N32',148,'110A',145,141,2222,121
         ,4211,2016,2233,7212,301,2224,2413,2412,242,3217,240,4212,146,'N61',2112]
for bus in bus_num:
    params['strSrch'] = bus
    
    response = requests.get(url, params=params)
    contents = response.text

    #문자열을 json으로 변경
    json_ob = json.loads(contents)
    body = json_ob['msgBody']['itemList'][0]['term']
    list.append(body)

In [3]:
list

['13',
 '10',
 '10',
 '9',
 '10',
 '8',
 '23',
 '12',
 '14',
 '7',
 '7',
 '20',
 '9',
 '8',
 '9',
 '10',
 '11',
 '8',
 '13',
 '22',
 '12',
 '9',
 '8',
 '12',
 '14',
 '12',
 '14',
 '7',
 '8',
 '40',
 '6',
 '13',
 '8',
 '13',
 '17',
 '13',
 '15',
 '10',
 '10',
 '8',
 '24',
 '15',
 '11',
 '8',
 '9',
 '14',
 '12',
 '13',
 '10',
 '10',
 '40',
 '9',
 '8',
 '9',
 '11',
 '13',
 '7',
 '13',
 '11',
 '15',
 '11',
 '8',
 '13',
 '13',
 '13',
 '14',
 '9',
 '11',
 '9',
 '8',
 '25',
 '14']

In [4]:
a = bus_num
b = list
df = pd.DataFrame()
df['버스번호'] = a
df['배차간격'] = b

In [5]:
df.drop_duplicates('버스번호', inplace = True)

In [6]:
df

      버스번호 배차간격
0     4211   13
1   성동03-1   10
2     성동08   10
3     성동02    9
4      241   10
5     성동10    8
6     성동07   23
7     성동14   12
8   성동03-2   14
9     성동01    7
10    성동05    7
11    성동06   20
12     145    9
13    110B    8
14     148    9
15     421   10
16     141   11
17    2015    8
18    2222   13
19    성동13   22
20    성동12   12
22    성동09    8
26    1227   14
27     130    7
28     303    8
29     N30   40
30     370    6
31    9403   13
32     721    8
33    3216   13
34    3220   17
35    2221   13
36    2416   15
37     463   10
38    2014   10
40     N62   24
41     302   15
42    6211   11
43     202    8
44     147    9
45    1017   14
46    2012   12
47    2013   13
50     N32   40
52    110A    8
56     121    7
58    2016   11
59    2233   15
60    7212   11
61     301    8
62    2224   13
63    2413   13
64    2412   13
65     242   14
66    3217    9
67     240   11
68    4212    9
69     146    8
70     N61   25
71    2112   14

In [7]:
df.reset_index()

    index    버스번호 배차간격
0       0    4211   13
1       1  성동03-1   10
2       2    성동08   10
3       3    성동02    9
4       4     241   10
5       5    성동10    8
6       6    성동07   23
7       7    성동14   12
8       8  성동03-2   14
9       9    성동01    7
10     10    성동05    7
11     11    성동06   20
12     12     145    9
13     13    110B    8
14     14     148    9
15     15     421   10
16     16     141   11
17     17    2015    8
18     18    2222   13
19     19    성동13   22
20     20    성동12   12
21     22    성동09    8
22     26    1227   14
23     27     130    7
24     28     303    8
25     29     N30   40
26     30     370    6
27     31    9403   13
28     32     721    8
29     33    3216   13
30     34    3220   17
31     35    2221   13
32     36    2416   15
33     37     463   10
34     38    2014   10
35     40     N62   24
36     41     302   15
37     42    6211   11
38     43     202    8
39     44     147    9
40     45    1017   14
41     46    2012   12
42     47    2013   13
43     50     N32   40
44     52    110A    8
45     56     121    7
46     58    2016   11
47     59    2233   15
48     60    7212   11
49     61     301    8
50     62    2224   13
51     63    2413   13
52     64    2412   13
53     65     242   14
54     66    3217    9
55     67     240   11
56     68    4212    9
57     69     146    8
58     70     N61   25
59     71    2112   14

In [8]:
# df.value_counts(['busNm'])
len(df)

60

In [9]:
df.to_csv('../data/전처리데이터/성동구 버스 배차간격.csv', encoding = 'cp949', index=None)